<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.baseStatus.dao.IBaseStatusDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.baseStatus.pojo.BaseStatus"> 
		<id property="statusId" column="status_id" javaType="java.lang.Integer"></id> 
		<result property="statusName" column="status_name" javaType="java.lang.String"></result> 
	</resultMap> 

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		status_id,status_name 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_status 
		where status_id = #{statusId} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from base_status 
		where status_id = #{statusId} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.baseStatus.pojo.BaseStatus" > 
		insert into base_status(status_name) 
		values (#{statusName}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.baseStatus.pojo.BaseStatus" > 
		update base_status 
		<set > 
			<if test="statusName != null and statusName!='' " > 
				status_name = #{statusName}, 
			</if> 
		</set> 
		where status_id = #{statusId} 
	</update> 
	<update id="update" parameterType="com.qhit.baseStatus.pojo.BaseStatus" > 
		update base_status 
		set  status_name = #{statusName} 
		where status_id = #{statusId} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_status 
	</select> 
	<select id="findByStatusName" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_status 
		where status_name = #{statusName} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from base_status where status_id in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.baseStatus.pojo.BaseStatus" resultMap="BaseResultMap"> 
		select * from  base_status 
		<where > 
			<if test="statusName != null and statusName!='' " > 
				 and status_name = #{statusName} 
			</if> 
		</where> 
	</select> 
</mapper> 
